.scroll_bar_box {
    height: 100%;
    width: 6px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #d5d5d5;
    cursor: pointer;
    z-index: 9999;
}
.scroll_bar_box.hide {
    display: none;
}
.scroll_bar_box .scroll_bar{
    width: 6px;
    height: 10%;
    background-color: #818181;
    position: absolute;
    top: 0;
}
